.field {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    
    & &__label {
        text-align: left;
        margin: 4px 0;
        color: #555;
    }

    & &__input {
        padding: 8px 12px;
        border-radius: 8px;
        min-width: 90%;
        border: 1px solid rgba(0,0,0,0.12);
    }

    & &__error {
        text-align: left;
        margin: 4px 0;
        font-size: 12px;
        font-weight: 500;
        color: var(--error-color);
    }
}