:root {
    --border-color: rgba(0, 0, 0, 0.12);

    --primary-color-600: #08622f;
    --primary-color-400: #0a823e;
    --primary-color-200: #0ca24d;

    --error-color: #942f2f;

    --text-black: #333;
    --text-black-secondary: #555;
    --text-white: #fff;
    --text-white-secondary: #777;
}
