.button {
    max-width: 150px;
    margin: 16px 0;
    padding: 12px 32px;

    color: var(--text-white);
    background-color: var(--primary-color-400);

    border: none;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;

    transition: all 0.3s;
    align-self: flex-end;

    &:hover {
        background-color: var(--primary-color-200);
        cursor: pointer;
    }

    &:focus {
        background-color: var(--primary-color-600);
    }
}
